{% load rss_read_tags %}
    {% if show_feed_title and feed %}
        <style>
        
			.title {
	        	text-align: center; 
	        	font-family: Tahoma, sans-serif;
	        	color: white;
	    	}
	        
			.description {
	        	text-align: center; 
	        	font-family: Tahoma, sans-serif;
	        	color: #B2B4B4;
	        	padding-top: 4px;
	        }
        
	        h1#{{custom_feed_title|slugify}} {
	            height: 10%;
		        display: block;
		        text-align: center;
		        font-family:‘Arial’, Helvetica, sans-serif;
		        font-size: 100%;
		        margin: 10px 0px 10px 0px;
		        color: #B2B4B4;
	        }
	        
	        ul#{{custom_feed_title|slugify}} {
	        	height: 80%;
	        	margin: 0px 4px 0px 4px;
	        	padding: 0.2em
	        }
        </style>

        <h1 id="{{custom_feed_title|slugify}}">
                {% if custom_feed_title %}
                    {{ custom_feed_title }}
                {% else %}
                    {{ feed.channel.title }}
                {% endif %}
        </h1>
    {% endif %}

    {% if feed and feed.entries %}
        <ul id = "{{custom_feed_title|slugify}}">
            {% for entry in feed.entries|slice:max_feed_items %}
                <div class="title" id = "{{entry.title|slugify}}" style="height:57.5%;">
  						<span>           
			            	{{ entry.title|striptags|safe|truncatechars:100}}
			            </span>
			    </div>
			    <div class="description" id = "{{entry.title|slugify}}_text" style="height:37.5%;">     
			         	<span>       
			            	{{ entry.description|striptags|safe|truncatechars:300}}
			            </span>
			    </div>
            {% endfor %}
        </ul>
    {% endif %}

<script>
	 $(window).load(function(){
		var {{custom_feed_title|remove_space}}_title_array = [];
		var {{custom_feed_title|remove_space}}_text_array = [];
		var	counter_{{custom_feed_title|remove_space}} = 1;
        {% for entry in feed.entries|slice:max_feed_items %}
			{{custom_feed_title|remove_space}}_title_array.push("{{entry.title|slugify}}")
			$("#{{entry.title|slugify}}").textfill({
				explicitHeight: $("#{{entry.title|slugify}}").height(),
				explicitWidth: $("#{{entry.title|slugify}}").width(),
				minFontPixels: 25,
				fail: function(){ console.log('fail')},debug:true
				})
			{{custom_feed_title|remove_space}}_text_array.push("{{entry.title|slugify}}_text")
        	$("#{{entry.title|slugify}}_text").textfill({
        		maxFontPixels: 20,
        		minFontPixels: 15,
        		explicitWidth: $('#{{entry.title|slugify}}_text').width(),
        		explicitHeight: $('#{{entry.title|slugify}}_text').height(),
        		})
        	$("#{{entry.title|slugify}}").toggle();
        	$("#{{entry.title|slugify}}_text").toggle();
		{%endfor%}
		function titleToggle() {
			if (counter_{{custom_feed_title|remove_space}} == {{custom_feed_title|remove_space}}_title_array.length) 
					{counter_{{custom_feed_title|remove_space}} = 0;};
			$('#'+{{custom_feed_title|remove_space}}_title_array[counter_{{custom_feed_title|remove_space}}]).toggle();
			textToggle();
		}
		function textToggle() {
			$('#'+{{custom_feed_title|remove_space}}_text_array[counter_{{custom_feed_title|remove_space}}]).toggle();
		setTimeout(function(){ 
								$('#'+{{custom_feed_title|remove_space}}_title_array[counter_{{custom_feed_title|remove_space}}]).toggle();
								$('#'+{{custom_feed_title|remove_space}}_text_array[counter_{{custom_feed_title|remove_space}}]).toggle();
								counter_{{custom_feed_title|remove_space}} ++;titleToggle()}
								, 30000);
		}
		
		titleToggle();
	});
</script>
