Django==1.6.11
django-admin-tools==0.5.2
django-autoslug==1.8.0
django-debug-toolbar==0.11
django-localeurl==2.0.2
django-registration-redux==1.2
django-slim==0.7.5
django-tinymce==1.5.3
easy-thumbnails==1.5
feedparser==5.2.0
ipdb==0.8
ipython==3.2.0
lorem-ipsum-generator==0.3
ordereddict==1.1
pif==0.7.1
Pillow==2.8.2
pluggy==0.3.0
py==1.4.30
radar==0.3
requests==2.7.0
selenium==2.46.0
simple-timer==0.2
six==1.9.0
South==1.0.2
sqlparse==0.1.15
tox==2.1.1
transliterate==1.7.3
Unidecode==0.4.18
virtualenv==13.0.3
vishap==0.1.5
